@import url('resets.css');
@import url('reticula.css');
@import url('layout.css');
@import url('secciones.css');
@import url('editoriales.css');
@import url('formas.css');

html, body {

  color: #282828;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
